<div class="about-section">

    <!-- <img src="./.././../assets/images/pexels-ron-lach-10526896.jpg" alt="about-background"> -->
    <h1>Just the right food</h1>

    <p id="About-txt">If you’ve been to one of our restaurants, you’ve seen – and <br> tasted – what
        keeps our customers coming back for more.<br> Perfect materials and freshly baked food,
        delicious Lambda<br> cakes, muffins, and gourmet coffees make us hard to resist!<br> Stop in
        today and check us out!
    </p>



    <div class="author-image">
        <img src="https://images.unsplash.com/photo-1541614101331-1a5a3a194e92?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Author">
    </div>

    <div class="author-signature">
        <img src="https://www.signwell.com/assets/vip-signatures/bruce-lee-signature-40abf707b68d9bff51d53cfe915a429115247816f034e172a752b8f4ebc65b9f.svg"
            alt="author-signature">

        <div class="food-image">
            <img src="https://images.unsplash.com/photo-1518779578993-ec3579fee39f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGZvb2QlMjBpbiUyMHBsYXRlfGVufDB8fDB8fHww"
                alt="Food">
        </div>

    </div>




</div>