 <div class="menu">
    <div *ngFor="let category of menu">
      <h2>{{ category.title }}</h2>
      <ul>
        <li *ngFor="let item of category.items">
          {{ item.name }} - ${{ item.price | number: '1.2-2' }}
          <p>{{ item.description }}</p>
             <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <p>{{ item.price }}</p>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- src/app/menu/menu.component.html
<section class="menu-section">
  <div class="container">
    <h1>Our Menu</h1>
    <ul>
      <li *ngFor="let category of menu">
        <h2>{{ category.title }}</h2>
        <li *ngFor="let item of menu.item">

        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <p>{{ item.price }}</p>
      </li>
    </ul>
  </div>
</section> -->
