<div class="home-content">

  <img src="https://projets.blindchris.fr/restaurantlambda/img/navbar-logo.png" alt="Food Image" class="img-fluid"
    style="margin-left: 20px;">
  <h1>the right ingredients for the right food</h1>
  <!-- <div class="buttons">
    <button class="btn btn-dark">BOOK A TABLE</button>
    <button class="btn btn-outline-light">SEE THE MENU</button>
  </div> -->
  <div class="button-group">
    <button (click)="navigateTo('reservations')">Book a Table</button>
    <button (click)="navigateTo('menu')">See the Menu</button>
  </div>
</div>

